{
  "sticker_config":[
    {
      "name": "rabbit",
      "source": "Chiba-none.svg",
      "texts":{
        "sound":[62, 88, 88, 65, 1.5],
        "des":[150, 275, 288, 0, 0]
      },
      "format": {
        "des":"发出{}的声音"
      }
    }
  ]
}